#judul{
    height: 100vh;
    background-color: #334756;
}
#list-game{

    height: 100vh;
    background-color: #7f909d;
    
}
#register-page{


    background-color: #334756;
    
}

