@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

.login-bg {
    background-color: #334756;
    font-family: 'Poppins', sans-serif;
    color: lightgray;
    width: 100%;
    height: 100vh;
}

.login-btn {
    background-color: #051622;
    color: white;
}

.login-btn:hover {
    background-color: black;
    color: white;
}

.not-registered {
    color: lightgray;
    text-decoration: underline;
}

.not-registered:hover {
    color: darkgray;
}