@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

.register-bg {
    background-color: #d4d4d4;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.register-btn {
    background-color: #00C1D4;
    color: black;
}

.register-btn:hover {
    background-color: black;
    color: white;
}
