.content {
    font-family: 'Karla';
    color: #d8d8d8;
    margin-top: 15%;
    margin-left: 100px;
}

h1{
    font-size: 70px;
}

p{
    margin-top: 10px;
}

.btn-play-game{
    margin-top: 20px;
    background: #d8d8d8;
    cursor: pointer;
    color: #191919;
    padding: 12px 20px;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left: 10px;
}

.btn-play-game:hover{
    background: #191919;
    color: #d8d8d8;
}

